/* GENERAL */
html { 
  background-color: #333;
  height: 100vh;
}

body, main {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

main {
  height: auto;
}

#instruction-section {
  margin-top: 120px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

canvas {
  display: none;
}

#name {
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 6;
}

/* HEADER */

header {
  color: #fff;
  text-shadow: 0 3px #000;
  font-size: 50px;
  position: fixed;
  top: 20px;
  z-index: 2;
  font-family: 'Press Start 2P', cursive;
}

#fire {
  color: #fc8200;
}

#ice {
  color: #8feafc;
}

#green-backdrop {
  margin-top: 80px;
}

.bill-board {
  margin: 0;
  padding: 20px;
  background-color: #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 4em;
  position: absolute;
  top: 250px;
  border-radius: 3px;
  visibility: hidden;
  z-index: 3;
}

/* MODE SELECTION */

.selection-section {
  position: fixed;
  top: 70px;
  left: 0;
  background-color: #333;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.mode-header {
  font-size: 24px;
  color: #fff;
  margin: 100px 0 40px;
}

.mode-buttons {
  color: #fff;
  text-shadow: 0 2px #333;
  font-size: 1.1em;
  height: 75px;
  width: 350px;
  margin: 0 10px;
}

#two-player {
  background-color: #62a1ae;
  border: 2px solid #5c95a0;
  border-bottom: 4px solid #2c474d;
}

#single-player {
  background-color: #ce6b00;
  border: 2px solid #944e02;
  border-bottom: 4px solid #552d01;
}

#selection-2 {
  z-index: 2;
}

#character-wrapper {
  display: flex;
  justify-content: space-between;
}

.character {
  text-align: center;
  margin: 0 40px;
  color: #fff;
}

.character img {
  transform: scale(1.5);
  cursor: pointer;
}

/* INSTRUCTIONS */

#instructions-container {
  color: #fff;
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 20px;
  margin-bottom: 30px;
}

#instructions-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.instructions {
  margin-bottom: 0;
  text-align: center;
}

#controls-container {
  grid-column: 2;
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
}

.controls {
  padding-left: 60px;
  line-height: 24px;
}

#ice-controls-wrapper {
  grid-column: 3;
}

.goal {
  padding: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-top: 0;
}

/* BUTTONS */

button {
  outline: none;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

#start {
  color: #fff;
  font-size: 20px;
  background-color: #3B8314;
  width: 200px;
  height: 50px;
  border: 1px solid #183708;
  border-bottom: 3px solid #0f2405;
  text-shadow: 0 2px #000;
}

#toggle-sound {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  background-color: #9E9E9E;
  width: 225px;
  height: 50px;
  border: 1px solid rgb(94, 94, 94);
  border-bottom: 3px solid rgb(0, 0, 0);
  text-shadow: 0 2px #000;
  display: none;
}

/* LINKS */

#links-wrapper {
  font-size: 32px;
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 6;
}

a {
  color: #ddd;
  margin-left: 5px;
}

/* MODAL */

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

/* TIMER */

#timer {
  visibility: hidden;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: 20px;
  left: 40px;
}

/* GAME OVER */

#play-again {
  visibility: hidden;
  margin: 0;
  background-color: #000;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: 450px;
  padding: 20px 10px;
  z-index: 5;
  cursor: pointer;
}

#space {
  background-color: #fff;
  color: #000;
}

/* SCORE SUBMISSION */

#score-submission {
  color: #fff;
  display: none;
  z-index: 5;
  position: absolute;
  top: 150px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 275px;
  background-color: #000;
  border: 3px solid #fff;
}

#player-score-header {
  margin: 10px 0 0;
}

#score-submit-btn {
  margin-top: 20px;
  color: #fff;
  font-size: 1.1em;
  background-color: #3B8314;
  width: 150px;
  height: 50px;
  border: 1px solid #183708;
  border-bottom: 3px solid #0f2405;
  text-shadow: 0 2px #000;
}

input {
  font-family: 'Press Start 2P', cursive;
  margin: 10px;
  border: none;
  outline: none;
  padding: 5px;
  width: 50px;
  font-size: 16px;
}

/* HIGH SCORES */
#high-scores-container {
  color: #fff;
  display: none;
  z-index: 5;
  position: absolute;
  top: 150px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 275px;
  background-color: #000;
  border: 3px solid #fff;
}

#high-scores-wrapper {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  padding: 0;
}

li {
  text-align: center;
}

#curtain {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #333;
  z-index: 4;
}

/* TOUCH CONTROLS */
#touch-controls {
  font-size: 1.2em;
  position: absolute;
  top: 45%;
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#direction-controls {
  display: flex;
  flex-flow: column;
}

#row-2 :first-child {
  margin-right: 6px;
}

#row-2 :last-child {
  margin-left: 6px;
}

#up {
  grid-column: 2;
}

#left {
  grid-row: 2;
  grid-column: 1;
}

#right {
  grid-row: 2;
  grid-column: 3;
}

#down {
  grid-row: 3;
  grid-column: 2;
}

.touch-control {
  background-color: transparent;
  border: none;
  font-size: 3em;
  color: #ccc;
  text-shadow: 0 5px 5px #000;
}